        * {
            box-sizing: border-box;
            padding: 0;
            margin: 0;
        }

        html {
            font-size: 20px;
        }

        body {
            background-color: rgb(240, 242, 245);
        }
        .container {
            /* height: 50vh; */
            margin: 7rem auto 10rem auto;
            display: flex;
            justify-content: center;
            gap: 3rem;
            flex-wrap: wrap;
            width: 90%;
        }

        .logobox {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;
        }


        .logo img {
            width: 300px;
        }

        .statement {
            font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
            font-size: 26px;
            font-weight: bold;
        }

        .login form {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 0.5rem;
            background-color: white;
            padding: 2rem;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
        }

        form input {
            padding: 5px;
            font-size: 20px;
        }

        form input[type="submit"] {
            background-color: #1877f2 ;
            color: white;
            font-weight: bold;
            border-radius: 5px;
            border: 0;
            margin-top: 1rem;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }

        form input[type="text"], input[type="password"] {
            border-radius: 5px;
            border: 1px solid #dddfe2;
        }

        form a {
            text-align: center;
            text-decoration: none;
        }
        
        input[type=button] {
            border-radius: 5px;
            color: white;
            font-weight: bold;
            background-color: #42b72a;
            border: 0 none;
            padding: 5px 5px;
            width: fit-content;
            margin: auto;
            padding: 0.5rem;
        }

        .create-page {
            padding: 0.5rem;
            display: flex;
            flex-flow: row;
            gap: 0.5em;
            justify-content: center;
        }
        .create-page a{
            font-weight: bold;
            text-decoration: none;
        }

        .create-page a:hover {
            text-decoration: underline;
        }
